<div class="container py-3">
  <div class="row">
    <div class="col-md-6 mx-auto d-flex">
      <%= image_tag @user.get_profile_image, class: "rounded-circle" %>
      <div class="ml-auto">
        <%= render "relationships/btn", user: @user %>
        <!--現在ログインしているユーザーが管理者または本人、かつゲストユーザーでなければ編集ボタンを表示-->
        <% if (current_user.admin?) || (current_user == @user) && (current_user.name != "guestuser")%>
          <%= link_to edit_user_path(@user), class: "btn btn-light" do %>
            <i class="fas fa-cog"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto py-3">
      <h4><%= @user.name %></h4>
      <p><%= @user.introduction %></p>
      <div class="d-flex mb-2 align-items-center">
        <div>
          <%= link_to user_followings_path(@user), class: "text-light" do %>
            <%= @user.followings.count %> Following
          <% end %>
          <%= link_to user_followers_path(@user), class: "text-light ml-2" do %>
            <%= @user.followers.count %> Followers
          <% end %>
        </div>
        <div class="ml-auto">
        <%= link_to "Favorites", favorites_user_path(@user), class: "btn btn-dark" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= render "posts/index", posts: @posts %>
    </div>
  </div>
</div>