<%= form_with model: post do |f| %>
  <%= render "layouts/errors", obj: post %>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control-file", accept: "image/jpeg, image/png" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 5 %>
  </div>

  <div class="form-group">
    <%= f.label "Tag" %>
    <%= f.text_field :tag_name, value: tag_list, placeholder: "jacket,outer,winter", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-light my-2" %>
  </div>
<% end %>