<div class="container py-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card shadow-lg bg-dark">
        <div class="card-header d-flex">
          <%= link_to user_path(@post.user), class: "text-light text-decoration-none" do %>
            <%= image_tag @post.user.get_profile_image, size: "50x50", class: "rounded-circle mr-1" %>
            <%= @post.user.name %>
          <% end %>
          <div class="d-flex ml-auto align-items-center">
            <% if (current_user.admin?) || (current_user == @post.user) %>
              <div class="mx-2">
                <%= link_to edit_post_path(@post), class: "btn btn-sm btn-secondary" do %>
                  <i class="fas fa-pen"></i>
                <% end %>
              </div>
              <div>
                <%= link_to post_path(@post), method: :delete, "data-confirm" => "この投稿を削除しますか？", class: "btn btn-sm btn-danger" do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <%= image_tag @post.image, class: "card-img" %>
        <div class="card-footer">
          <div class="d-flex float-right">
            <div class="post-comments-counter mx-2">
              <%= render "post_comments/counter", post: @post %>
            </div>
            <div class=<%= "favorite-" + @post.id.to_s %> >
              <%= render "favorites/btn", post: @post %>
            </div>
          </div>
          <!--新規投稿画面で入力した通りに本文が出力される-->
          <p class="pt-4"><%= safe_join(@post.description.split("\n"), tag(:br)) %></p>
          <div class="mb-3">
            <% @post.tags.each do |tag| %>
              <%= link_to result_path(content: tag.name, model: "tag"), class: "text-light" do %>
                #<%= tag.name %>
              <% end %>
            <% end %>
          </div>
          <div class="post-comments-index">
            <%= render "post_comments/index", post: @post %>
          </div>
          <%= render "post_comments/form", post: @post, post_comment: @post_comment %>
        </div>
      </div>
    </div>
  </div>
</div>