<!DOCTYPE html>
<html>
  <head>
    <title>Minimine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-secondary" style="color: #f8f9fa;">
    <%= render "layouts/header" %>
    <%= yield %>
  </body>
</html>
